<nav>
  <div>
    <a href="<%= root_path %>">InKind</a>
  </div>
  <div>
    <% if signed_in? %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</nav>
