<% content_for(:title) do %>
  Admins
<% end %>

<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-md-2">
      <h1><%= page_header_title %></h1>
    </div>
    <div class="col-2 offset-8">
      <%= link_to "ADD NEW", new_admin_admin_user_path, class: "btn btn-purple-primary m-2"  %>
    </div>
  </div>
</div>

<%= render "admins_table", records: @admin_users %>
