@import "~bootstrap/scss/bootstrap";

$teal: #00838F;
$dark-purple: #311B92;
$medium-purple: #6C3CB2;
$light-purple: #D1C4E9;
$dark-gray: #66787F;
$light-gray: #EBEFF1;
$white: #FFFFFF;

body {
    font-family: "Nunito";
}

a {
    color: $teal;
}

.teal-text {
   color: $teal;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

.list-group-item {
    border: none;
}

.inkind-logo {
    font-family: "Tenor Sans";
    font-size: 200%;
}

.dark-purple {
    background-color: $dark-purple;
}

#navbarDropdownMenu {
    color: white;
}

#topbar .avatar {
    width: 20px;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

.list-group-item.active {
    color: $dark-purple;
    background-color: $light-purple;
    font-weight: bold;
}

.list-group {
    svg {
        path {
            fill: $dark-purple;
        }
    }
}

.nav-link {
    svg {
        path {
            fill: $light-purple;
        }
    }
}

.btn-purple-primary {
    color: $white;
    background-color: $medium-purple;
    border-color: $medium-purple;
    &:hover {
        color: $white;
    }
}

.btn-gray-secondary {
    color: $dark-gray;
    background-color: $light-gray;
    border-color: $light-gray;
    &:hover {
        color: $dark-gray;
    }
}

.btn-purple-secondary {
    color: black;
    background-color: $white;
    border-color: $medium-purple;
}

.hamburger-menu {
    svg {
        path {
            fill: $white;
        }
    }
}

.sidebar-options {
    color: $dark-gray;
}

.stylized-link {
    text-decoration: none;
}

#profile-circle {
    display: block;
    position: relative;
    line-height: 0;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: $light-purple;
    color: $dark-gray;
}

#dark-gray {
    color: $dark-gray;
}

.circle-text {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    font-size: 100%;
    font-weight: bolder;
}

.modal-dialog {
    max-width: 600px;
}