@import "~bootstrap/scss/bootstrap";

$teal: #00838F;
$dark-purple: #311B92;

body {
    font-family: "Nunito";
}

a {
    color: $teal;
}

.teal-text {
   color: $teal;
}

#wrapper {
    overflow-x: hidden;
}

// #sidebar-wrapper {
//     min-height: 100vh;
//     margin-left: -15rem;
//     -webkit-transition: margin .25s ease-out;
//     -moz-transition: margin .25s ease-out;
//     -o-transition: margin .25s ease-out;
//     transition: margin .25s ease-out;
// }

// #sidebar-wrapper .sidebar-heading {
//     padding: 0.875rem 1.25rem;
//     font-size: 1.2rem;
//     color: white;
// }

#sidebar-wrapper .list-group {
    width: 15rem;
}

.list-group-item {
    border: none;
}

// #page-content-wrapper {
//     min-width: 100vw;
// }

.inkind-logo {
    font-family: "Tenor Sans";
}

.dark-purple {
    background-color: $dark-purple;
}

#navbarDropdown {
    color: white;
}

#topbar .avatar {
    width: 20px;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

// @media (min-width: 768px) {
//     #sidebar-wrapper {
//         margin-left: 0;
//     }

//     #page-content-wrapper {
//         min-width: 0;
//         width: 100%;
//     }

//     body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
//         margin-left: -15rem;
//     }
// }

.list-group-item.active {
    color: #311B92;
    background-color: #ede7f6;
    font-weight: bold;
}

.list-group {
    svg {
        path {
            fill: #311B92;
        }
    }
}

.nav-link {
    svg {
        path {
            fill: #ede7f6;
        }
    }
}

.btn-purple-primary {
    color: #fff;
    background-color: #6c3cb2;
    border-color: #6c3cb2;
    &:hover {
        color: white;
    }
}

.btn-purple-secondary {
    color: black;
    background-color: #fff;
    border-color: #6c3cb2;
}

.hamburger {
    svg {
        path {
            fill: #fff;
        }
    }
}

.sidebar-options {
    color: #66787f;
}
