<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <header>
      <%# Header stuff (i.e. navbar) %>
    </header>

    <%= yield %>

    <footer>
      <small>&copy; 2021 <strong>Made with ❤️ by Ruby for Good</strong></small>
    </footer>
  </body>
</html>
